@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to K-Smart IMS</h1>
    <p>Cody Tran is about to drag you to the promised land by force</p>
</div>
