@{
}

<h2>Order Confirmation</h2>

<div>
<table class="table">
    <thead>
        <tr>
            <th>Item name</th><th>Quantity</th><th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Item1</td><td>2</td><td>$1.99</td>
        </tr>
        <tr>
            <td>Item2</td><td>4</td><td>$3.99</td>
        </tr>
    </tbody>
</table>
<button type="submit" class="btn btn-primary">Confirm</button>
<button type="button" class="btn btn-primary">Cancel</button>
</div>