@{
}

<h2>Order History</h2>

<div>
<table class="table">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Date</th>
            <th>Item</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td><td>January 27 2022</td><td>Item1</td><td>5</td><td><button class="btn btn-primary" type="button">View</button></td>
        </tr>
        <tr>
            <td>2</td><td>January 28 2022</td><td>Item2</td><td>6</td><td><button class="btn btn-primary" type="button">View</button></td>
        </tr>
    </tbody>
</table>
</div>