@{
}

<h2>Product Information</h2>

<hr />

<h3>Basic Info</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Manufacturer</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>0 Degree Kelvin Instant Minifridge</td>
                <td>Appliances</td>
                <td>Samsung</td>
            </tr>
    </tbody>
</table>

<h3>Pricing and Stock</h3>
<table class="table">
    <thead>
        <tr>
            <th>UPC</th>
            <th>MSRP</th>
            <th>Qty. in Stock</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>4141590091</td>
                <td>$1,299.99</td>
                <td>3</td>
            </tr>
    </tbody>
</table>

<h3>Recurring Orders</h3>
<table class="table">
    <thead>
        <tr>
            <th>Date Ordered</th>
            <th>Arrival Date</th>
            <th>Qty.</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>2/20/2022</td>
                <td>2/25/2022</td>
                <td>4</td>
            </tr>
    </tbody>
</table>

<h3>Recurring Orders</h3>
<table class="table">
    <thead>
        <tr>
            <th>Reorder Rate</th>
            <th>Qty.</th>
            <th>Reorder Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>30 Day(s)</td>
                <td>4</td>
                <td style="color:green">Active</td>
                <td><button class="btn btn-primary">Pause</button></td>
            </tr>
    </tbody>
</table>

<button style="margin:30px; float:left;" class="btn btn-primary">Order</button>
<button style="margin:30px; float: right;" class="btn btn-primary">Back</button>