@{
}
<table>
    <thead>
        <tr>
            <td>Order ID</td>
            <td>Item</td>
            <td>Item ID</td>
            <td>Quantity</td>
            <td>Arived Y/N</td>
    </thead>
    <tbody>
        <tr>
            <td>011</td>
            <td>Red Paint</td>
            <td>A5</td>
            <td>7</td>
            <td><input type="checkbox"/></td>
        </tr>
        <tr>
            <td>011</td>
            <td>paint brush</td>
            <td>T1</td>
            <td>1</td>
            <td><input type="checkbox"/></td>
        </tr>
        <tr>
            <td>502</td>
            <td>red paint</td>
            <td>A5</td>
            <td>1</td>
            <td><input type="checkbox"/></td>
        </tr>
        <tr>
            <td>502</td>
            <td>roller</td>
            <td>T2</td>
            <td>1</td>
            <td><input type="checkbox"/></td>
        </tr>
    </tbody>
</table>