@{
}
<div>
    <h1>Order ID:011</h1>
</div>

<table>
   <thead>
        <tr>
            <td>Item</td>
            <td>Item ID</td>
            <td>Quantity</td>
            <td>Pirce Per Unit</td>
            <td>Sub Total</td>
    </thead>
    <tbody>
        <tr>
            <td>Red Paint</td>
            <td>A5</td>
            <td>7</td>
            <td>10</td>
            <td>70</td>
        </tr>
        <tr>
            <td>paint brush</td>
            <td>T5</td>
            <td>1</td>
            <td>7</td>
            <td>7</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan=4 align="right">total:</td>
            <td>77</td>
        </tr>
    </tfoot>
</table>